In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("files/note.csv")
data

       3.6216    8.6661  -2.8073  -0.44699  1
0     4.54590   8.16740  -2.4586  -1.46210  1
1     3.86600  -2.63830   1.9242   0.10645  1
2     3.45660   9.52280  -4.0112  -3.59440  1
3     0.32924  -4.45520   4.5718  -0.98880  1
4     4.36840   9.67180  -3.9606  -3.16250  1
...       ...       ...      ...       ... ..
1366  0.40614   1.34920  -1.4501  -0.55949  2
1367 -1.38870  -4.87730   6.4774   0.34179  2
1368 -3.75030 -13.45860  17.5932  -2.77710  2
1369 -3.56370  -8.38270  12.3930  -1.28230  2
1370 -2.54190  -0.65804   2.6842   1.19520  2

[1371 rows x 5 columns]